# ===== BACKEND (C# / ASP.NET Core) =====
# Build folders
[Dd]ebug/
[Rr]elease/
bin/
obj/
out/
log/
logs/

# User-specific files
*.user
*.suo
*.rsuser
.vs/

# Environment / secrets
*.env

# Temporary files
*.tmp
*.log

# ===== FRONTEND (Angular) =====
# Node modules
node_modules/

# Angular build cache
.angular/

# Angular build outputs
dist/

# ===== OS-specific =====
Thumbs.db
.DS_Store
